/* For testing only */



.columns {
  min-height: 100px;
}

/* End for testing */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
}

a{
  text-decoration: none;
  font-size: 0.85em;
  width: 100%;
  height: 100%;
  display: block;
  padding: 1em;
  color: #444;

}
.column {
  float: left;
  overflow: hidden;
}

.navbar{
  width: 90%;
  margin: 2.5vh 5% 0 5%;
}

.navbar ul{
  overflow: auto;
  list-style: none;
  background-color: #f4f4f4;
  text-align: center;
  padding: 0;
}

.navbar ul li{
  width: 20%;
  padding: 0.5em;
  font-size: 0.6em;
  z-index: 2;
}

.navbar h3{
  background-image: url("../img/logo-text.png");
  background-repeat: no-repeat;
  background-size: 126px auto;
  background-position: left;
  width: 95%;
  padding: 1em;
  margin-left: 5%;
}

.large {
  width: 90%;
  height: 40vh;
  margin: 0 5%;
}

.large img{
  width: 100%;
  height: 100%;
}

.header{
  width: 90%;
  margin:0 5%;
}
.header a{

}
.header h3{
  padding: 1em 0 0;
}

.header h6{
  padding: 0.5em 0 2em 0;
}
.press{
  width: 90%;
  margin: 2.5vh 5%;
}
.about {
  width: 90%;
  margin: 2.5vh 5%;
  padding: 1em;

}

.uppercase{
  text-transform: uppercase;
}

.black-bg{
  background-color: black;
  color: white;
}

.white-bg{
  background-color: white;
  color: #444;
}

@media only screen and (min-width:600px) {
  body{
    background-color: white;
  }
  .header{
    display: none;
  }
  .large{
    width: 100%;
    height: 70vh;
    margin: 0;
  }

  .small{
    width: 48.5%;
    height: 26vh;
    margin: 2vh 0 0 0;
  }

  .press{
    background-color: #051e00;
  }

  .about{
    background-color: black;
    margin-left: 3%;
  }

   .navbar{
    width: 20%;
    margin: 5% 0 0 5%;
    position: fixed;
    opacity: .95;
  }

  .navbar ul{
    text-align: left;
  }

  .navbar ul li{
    width: 100%;
    padding: 0.7em 1em;
  }

  .press a{
    font-size: 2em;
    text-align: center;
    padding: 2em 1em;
    text-transform: uppercase;
  }

  .about p{
    font-size: 1.1em;
    padding: 0 1em;
  }

  .about img{
    margin-left: 1em;
  }

}

@media only screen and (min-width:1024px) {
  .large {
    width: 80%;
    height: 100vh;
    margin-right: 5%;
  }



  .small {
    width: 12.5%;
    height: 42.5vh;

  }


  div:nth-child(2) {
    margin-bottom: 0;
  }
}
