/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
}

a{
  text-decoration: none;
  font-size: 0.85em;

}
.column {
  float: left;
  background-color: seagreen;
  overflow: hidden;
}

ul{
  list-style: none;
  padding: 0 5%;
}
ul li{
  width: 20%;
  padding: 0.5em;
  font-size: 0.6em;
}

.navbar{
  width: 90%;
  margin: 2.5vh 5% 0 5%;
}

.navbar h3{
  width: 100%;
  padding: 1em;
}

.large {
  width: 90%;
  height: 40vh;
  margin: 0 5%;
}

.large img{
  width: 100%;
  height: 100%;
}

.header{
  width: 90%;
  margin:0 5%;
}
.header a{
  width: 100%;
  height: 100%;
  display: block;
  padding: 1em 0;
}
.header h3, h5{
  padding: 0.5em 0;
}

.small {
  width: 90%;
  height: 20vh;
  margin: 2.5vh 5%;

}
.uppercase{
  text-transform: uppercase;
}

@media only screen and (min-width:600px) {
  .small {
    width: 42.5%;
    height: 42.5vh;
    margin: 0 5% 2.5vh 5%;
  }
  div:nth-child(2) {
    margin-right: 0;
  }
}

@media only screen and (min-width:1024px) {
  .large {
    width: 70%;
    height: 90vh;
    margin: 5vh 0 5vh 5%;
  }

  .small {
    width: 17.5%;
    height: 42.5vh;
    margin: 5vh 5% 5vh 2.5%;
  }

  div:nth-child(2) {
    margin-bottom: 0;
  }
}
